.buyer-screen {
  background-color: #00ad92;

  .heade {
    color: #fff;
    margin-top: 50px;
    -webkit-text-stroke: 2px #000;
    paint-order: stroke fill;
  }

  .user-background {
    width: 70%;
    margin-top: 20px;
  }

  .btns {
    background-color: black;
    width: 70%;
    border: 0.5px solid #fff;
    border-radius: 50px;
    font-size: 1.2em;
    transition: transform 1s ease-out;
    &:hover {
      background-color: whitesmoke;
      border: 2px solid #32274d;
      color: black !important;
      transform: scale(1) ease-in;
    }
  }

  @media (max-width: 460px) {
    .heade {
      margin-top: 100px;
    }
    .user-background {
      width: 100%;
      margin-top: 10px;
    }
    .btns {
      margin: 10px;
      width: 97%;
    }
  }
}
