$primary-color: #3666b5;
$secondary-color: #080f5b;
$accent-color: #1a1a1d;
$button-color: black;
$button-hover-color: #ffd7;
$white: #fff;
$shadow-color: rgba(0, 0, 0, 0.2);
$font-family: "Poppins", sans-serif;
$transition-time: 0.5s;

.start-screen {
  background-color: $primary-color;
}

section {
  padding: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 100dvh;
  position: relative;

  .bg {
    position: absolute;
    top: 40px;
    right: 60px;
    height: 90%;
    width: 60%;
  }

  .content {
    position: relative;
    max-width: 650px;
    z-index: 1;

    h2 {
      color: $white;
      font-size: 3em;
      font-weight: 700;
      line-height: 1.1em;
      -webkit-text-stroke: 2px $button-color;
      paint-order: stroke fill;
    }

    p {
      color: $white;
      font-size: 1.4em;
      margin: 20px 0 10px;
      -webkit-text-stroke: 2px $button-color;
      paint-order: stroke fill;
    }

    a,
    input {
      color: $white;
      background-color: $button-color;
      font-size: 1em;
      margin: 20px 10px;
      padding: 10px 30px;
      display: inline-block;
      border: none;
      text-decoration: none;
      cursor: pointer;
      transform: 0.5s ease-in-out;
      transition: $transition-time;

      &:hover {
        color: $button-color;
        text-decoration: none;
        background-color: $button-hover-color;
        transform: 0.5s ease-in;
      }
    }
  }
}

@media (max-width: 800px) {
  section {
    .bg {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.5;
    }

    .content p {
      font-size: 2.3em;
      font-weight: 100;
      line-height: 1.1em;
      max-width: 620px;
    }
  }
}

@media (max-width: 770px) {
  section {
    padding: 100px 40px;
  }
}
