.list-view {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  border-top: 1px solid rgb(85 85 85 / 26%);

  .delete-post-btn {
    border: none;
  }

  .list-item {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .post-header-wrapper {
      display: flex;
      justify-content: space-between;

      .profile-pic {
        width: 53px;
        height: 53px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 5px;
      }

      .author-name {
        font-weight: bold;
        font-size: 1.1rem;
        color: #2c3e50;
        cursor: pointer;
        border: none;
        background: none;
        display: flex;
        align-items: center;
        padding-left: 0px;
        width: min-content;
        text-wrap: nowrap;
        &:hover {
          opacity: 1;
        }
      }
    }

    img,
    video {
      border-radius: 6px;
      object-fit: cover;
    }

    h3 {
      margin: 0.5rem 0 0.2rem;
      color: #34495e;
    }

    p {
      margin: 0;
      color: #555;
    }

    .buyer-buttons {
      display: flex;
      gap: 0.5rem;
      margin-top: 0.5rem;
    }

    button {
      align-self: start;
      background-color: #3498db;
      color: white;
      padding: 8px 16px;
      border: none;
      border-radius: 6px;
      font-size: 0.9rem;
      cursor: pointer;
      &:hover {
        background-color: #2980b9;
      }
    }
  }
}

@media (max-width: 600px) {
  .list-view {
    padding: 1rem;
    .list-item {
      padding: 1rem;
    }
  }
}
