$primary-color: #5100ff;
$btn-background: black;
$btn-hover-background: #fff;
$btn-hover-border: black;
$btn-hover-color: black;
$white: #fff;

.seller-screen {
    background-color: $primary-color;
    .logo {
        position: absolute;
        top: 30px;
        left: 30px;
        color: $white;
        font-weight: 700;
        z-index: 100;
        cursor: pointer;
    }

    .logo-img {
        width: 60%;
    }

    .heade {
        color: $white;
        margin-top: 50px;
        -webkit-text-stroke: 2px #000;
        paint-order: stroke fil;
    }

    .dev {
        width: 70%;
        margin-top: 20px;
    }

    .btns {
        background-color: $btn-background;
        width: 70%;
        border: 0.5px solid $white;
        border-radius: 50px;
        font-size: 1.2em;
        transition: 1s ease-out;

        &:hover {
            background-color: $btn-hover-background;
            border: 2px solid $btn-hover-border;
            color: $btn-hover-color !important;
            transform: 1s ease-in;
        }
    }

    .quotes {
        display: block;
        top: 100px;
        margin-top: 20px;
    }
}

@media (max-width: 460px) {
    .heade {
        margin-top: 100px;
    }

    .dev {
        width: 100%;
        margin-top: 10px;
    }

    .btns {
        margin: 10px;
        width: 97%;
    }
}
