.sidebar {
  width: 280px;
  background: #fff;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #e5e7eb;

  .search {
    padding: 12px;
    border-bottom: 1px solid #e5e7eb;

    input {
      width: 100%;
      padding: 10px;
      border-radius: 8px;
      border: 1px solid #ddd;
      font-size: 14px;
      outline: none;
    }
  }

  .chat-list {
    display: flex;
    flex-direction: column;
    overflow-y: overlay;
    height: 435px;
  }
}
