.message {
  max-width: 60%;
  margin: 12px 0px;
  padding: 10px 14px;
  border-radius: 12px;
  font-size: 14px;
  line-height: 1.4;
  position: relative;
}

.message.received {
  display: flex;
  background: #fff;
  align-self: flex-start;
  margin-left: 10px;
}

.message.sent {
  display: flex;
  background: #007bff;
  color: #fff;
  align-self: flex-end;
  margin-right: 10px;
}
