.forget-password-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 100%;
  max-width: 550px;
  text-align: center;
  margin: auto;
  h2 {
    color: #333;
    margin-bottom: 10px;
  }

  p {
    color: #666;
    margin-bottom: 20px;
  }

  .reset-form {
    display: flex;
    margin-bottom: 10px;

    input[type="email"] {
      padding: 12px;
      width: 69%;
      border: 1px solid #ccc;
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
      font-size: 16px;
    }

    .reset-btn {
      padding: 12px;
      background-color: #0066ff;
      border: none;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
      color: white;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .reset-btn:hover {
      background-color: #004bb5;
    }
  }

  .back-btn {
    position: relative;
    margin-top: 10px;
    font-size: 15px;
    left: -173px;
  }
}
